<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
        <rules>
                <rule name="Replace Http with Https in URL" >
                    <match  url="(http)([^http]*$)" />
                    <action type="Rewrite" url="http{R:2}" />
                </rule>
              <rule name="Remove Port From URL" >
                    <match  url="(^.*?(?=:\d+))(:\d+)([^:\d+]*$)" />
                    <action type="Rewrite" url="{R:1}{R:3}" />
               </rule>
        </rules>
            <outboundRules>
                 <rule name="Remove Port From Html Hyperlinks" >
                    <match  pattern=":\d+" />
                    <action type="Rewrite" value="" />
                </rule>
                 <rule name="Replace Http with Https in Html Hyperlinks" >
                    <match  pattern="http" />
                    <action type="Rewrite" value="https" />
                </rule>
            
            
            </outboundRules>
        </rewrite>   
    </system.webServer>
    
</configuration>

<!-- 
$paths = Get-Website | Select-Object PhysicalPath

foreach ($path in $paths) {
    
    $config = $path | ForEach-Object { $_.PhysicalPath + "\web.config" }
    
    Get-Content $config
} --> 
